<form class="ui form" action="#" method="POST">
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="field">
      <label>Comment</label>
      <input type="text" name="comment" placeholder="eg: Really great read">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>